*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loading-page{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.796);
    z-index: 50;
}
.spinner {
    position: relative;
    
    width: 100px;
    text-align: center;
  }
  
  .spinner > div {
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
body{
    position: relative;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F3F4;
}
.container-one{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    height: auto;
   
}
.navigation{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5) ;
}
.navigation img{
    position: relative;
    width: 300px;
    height: auto;
    
}

.navigation .log-out{
    position: absolute;
    right: 50px;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

}
.navigation .log-out a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.box-one{
    width: 100%;
    height: 20vh;
   
    background: linear-gradient(to right,#fe5858, #ee9617);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.box-one button{
    width: 200px;
    height: 50px;
    margin-left: -40%;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 15px;
    border-radius: 10px;
    letter-spacing: 0.3px;
    font-weight: bolder;
    word-spacing: 2px;
    text-decoration: none!important;
    transition: all 0.4s;
    transform-origin: center center;
    animation: pop 0.5s ease-in-out;
}
.box-one button:hover{
    transform: scale(1.1);
}

@keyframes pop {
    0%{
        transform: scale(0);
    }
    30%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}



.box-two{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
    justify-content: space-between;
    padding-bottom: 10px;
    
    
}
.box-two .box-two-sec-one{
    width: 100%;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
    height: 40px;
    padding:20px;
   
   
    
}

.box-two .box-two-sec-one .first-one{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in;
    
}
.box-two .box-two-sec-one .first-one h1{
    width: 160px;
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid black;
    
}

.box-two .box-two-sec-one .first-one:hover{
    transform: scale(1.03);
    font-weight: lighter;
}


.box-two .box-two-sec-two{
    
    width: 70%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 10px;
    overflow: auto;
    background-color: aliceblue;
}



footer{
    
    width: 100%;
    min-height: 10vh;
    height: auto;
    background-color:rgb(46, 46, 46);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    
    
}

.game-create-form{
    position: fixed;
    
    width: 100%;
    visibility: hidden;
    z-index: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}
.game-create-form .cancel{
    position: relative;
    align-self: flex-end;
    right: 50px;
    top: 50px;
    font-size: 30px;
    width: 50px;
    border: none;
    height: 50px;
    opacity: 0.5;
}

.game-create-form .form-container{
    position: relative;
    min-width:50%;
    min-height: 80%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    

}   
.game-create-form .forms{
    position: relative;
    width:100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 5px;

} 

.form-container button{
    position: relative;
    width: 100px;
    min-height: 50px;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin: 20px;
}

.f-one{
    position: absolute;
    width: 70%;
    height: 90%;
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    justify-content:space-evenly;
    z-index: 1;
    
}
.f-one span{
    margin: 30px;
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
}
.f-two .game-instruction{
    position: relative;
    width:70%;
    height: 300px;
    background-color: black;
    margin-top: 10px;
}
.f-two{
    position: absolute;
    width: 70%;
    height: 90%;
   overflow-y: auto;
    border-radius: 20px;
    display: flex;
    visibility: hidden;
    padding-bottom: 20px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    z-index: 0;
}
.f-two span{
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    
    font-weight: normal;
}

.f-one form{
    width: 90%;
    height:70%;
  
    overflow-y: auto;
    padding-bottom: 20px;
   
}

.f-two form{
    width: 90%;
    height: 90%;
    padding-bottom: 20px;
    
}

.f-one input,.f-two input{
    height: 40px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 10px;
}

.gameDetails{
    width: 95%;
    height: 100px;
    margin-top: 10px;
    
    display: flex;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    justify-content: space-between;

    
}
.gameDetails .g-box-one,.g-box-two,.g-box-three,.g-box-four{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    

}
.gameDetails button{
    width: 100px;
    height: 40px;
}

form input,label,select{
    width: 50%;
    height: 40px;
   
}
form label{
    margin-top: 10px;
}
form input,option{
    cursor: pointer;
    margin-bottom: 5px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
form select{
    
    border-radius: 2px;
    border:none;
    font-size:16px;
    font-weight:lighter;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 5px;
    
}

.actions-btn{
    width: 100%;
    height: 50px;
    
    display: flex;
    justify-content: center;
}
.ticket-box{
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.ticket-box .close{
    position: relative;
    width: 70px;
    height: 30px;
    font-size: 20px;
    right: 50px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.ticket-box .content-box{
    width: 90%;
    height: 90%;
    margin-top: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ticket-box .content-box .search-field{
    width: 100%;
    height: 15%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.ticket-box .content-box .search-field select{
    width: 180px;
    font-size: 16px;
}
.search-field input{
    width: 300px;
    height: 50px;
    padding: 10px;
    border :none;
    font-size: 20px;
}
.search-field button{
    margin-left: 10px;
    height: 50px;
    width: 100px;
    font-size: 20px;
    border: none;
}
.ticket-box .content-box .t-box{
    width: 80%;
    height: 70%;
    
    ;
    overflow: auto;
    display: grid;
   
    grid-template-columns: 50% 50%;
}

.ticket-box .content-box .t-box span{
    position: relative;
    text-align: center;

    
}
.ticket-box .content-box .contact-no{

    width: 100%;
    height: 10%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.ticket-box .content-box .contact-no h3{
    margin-top: 10px;
}

.ticket{
    width: 95%;
    height: 200px;
    display: flex;
    align-items: center;
    margin: 20px;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
}
 .ticket .ticketsvalue{
    width: 100%;
    height: 180px;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
.ticket .ticketsvalue .row-one,.row-two,.row-three{
    width: 95%;
    height: 50px;
    background-color: white;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    
}
 .ticket .row-one div,.row-two div,.row-three div{
    width: 10%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid black;
    color: black;
}

.game-end-box{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -10;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-end-box .game-end-msg{
    color: white;
}

.game-end-box button{
    width: 100px;
    height: 50px;
    border: none;
    margin-top: 20px;
    background-color: #fd7905;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.game-end-box .winnerslist-box{
    width: 90%;
    height: 80%;
    overflow-y: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.game-end-box .winnerslist-box .winners-names{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.game-end-box .winnerslist-box .winner-box{
    width: 350px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid black;
}
.game-end-box .winnerslist-box .winner-box h1{
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background-color: #fd7905;
    color: white;
  
}
@media only screen and (max-width:640px) {

    .box-one{
        height: 30vh;
    }

    .navigation .log-out{
        width: 50px;
        height: 20px;
    }
    .navigation{
        justify-content: left   ;
    }  
    .navigation img{
        position: relative;
        left: 20px;
        width: 150px;
    }  
    .navigation h1{
        position: relative;
        font-size: 18px;
        font-weight: normal;
        left: 10px;

    }
    
    .box-one button{
        width: 100px;
        height: 40px;
        font-size: 11px;
        font-weight: lighter;
        word-spacing: 0px;
        padding: 0px;
    }
    .box-two .box-two-sec-two{
        width: 95%;
        margin-top: 20px;
        
    }
    
    .form-container{
        position: relative;
        width: 90%;
        height: 70%;
        
    }
    .game-create-form .cancel{
        top: 20px;
        right: 10px;
        width: 32px;
        height: 32px;
        
    }
    .forms{
        position: relative;
        display: flex;
        width: 100%;
        height: 70%;
        
        
    }
    .form-container button{
        margin-top: 20px;
        position: relative;
        
        
    }
    .navigation .log-out{
        right: 5px;
        font-size: 12px;
        width: 70px;
        height: 30px;
    }
    .navigation .log-out a{
        font-size: 13px;
        font-family: 'Poppins',Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: Black;
       
        cursor: pointer;
    }

    


    .f-one, .f-two{
        position: absolute;
        width: 90%;
        height: 80%;
        font-size: 12px;
        margin-top: 20px;
        
    }

    .gameDetails{
        width: 95%;
    }
    .gameDetails h3{
        font-size: 16px;        
    }
    .gameDetails span{
        font-size: 13px;
        text-align: center;
    }
    .gameDetails button{
        width: 60px;
        height: 30px;
        font-size: 12px;
    }
    
    
    .f-one form,.f-two form{
       padding-top: 0px;
       margin-bottom: 50px;
       
    }

    
    .forms span{
        font-size: 16px;
        
    }

    .f-one input,select,label ,.f-two input,select,label{
        width: 170px;
        height: 30px;
        padding: 10px;
        
    }

    .first-one h1{
        font-size: 11px;
    }
    
    .ticket-box .close{
        width: 50px;
        font-size: 13px;
        border: 2px solid white;
        background-color: rgba(255, 255, 255, 0.8);
        right: 20px;
    }
    .ticket-box .content-box .t-box{
        width: 90%;
        grid-template-columns: 100%;
    }
    .ticket-box .content-box .search-field{
       
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .ticket-box .content-box .search-field input:first-child{
        margin-top: 40px;
    }
    .ticket-box .content-box .search-field select{
        width: 100px;
        height: 30px;
        padding: 0;
        font-size: 13px;
    }
    .search-field input{
        width: 200px;
        height: 30px;
        padding: 10px;
        margin: 10px;
        border :none;
        font-size: 20px;
    }
    .search-field button{
        margin-left: 10px;
        height: 30px;
        width: 60px;
        margin-top: 10px;
        font-size: 16px;
        border: none;
    }
    .ticket-box .content-box .t-box{

        
        height: 60%;
        
    
    }
    .ticket-box .content-box .contact-no{

        width: 100%;
        height: 20%;
        
    
    }
    .ticket-box .content-box .contact-no h3{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        font-size: 20px;
        
    }
    .ticket-box .content-box .contact-no h3 span{
        margin-left: 10px;  
    }
    .ticket{
        
        height: auto;
        margin: 7px;
        
    }

    .game-end-box{
        height: 100%;
    }

    .game-end-box button{
        width: 80px;
        height: 30px;
    }
    .game-end-box .game-end-msg h1{
        font-size: 18px;
        
    }

    .game-end-box .winnerslist-box{
        width: 90%;
        height: 70%;
    }
    .game-end-box .winnerslist-box h1{
        font-size: 16px;
        margin-top: 10px;
    }

    .game-end-box .winnerslist-box .winners-names{
       
        margin-top: 20px;
        margin-bottom: 10px;
       display: inline;
       overflow-y: auto;
       
    }
    .game-end-box .winnerslist-box .winners-names .winner-box{
        width: 250px;
        height: 100px;

        justify-content: space-between;
       
    }
    .game-end-box .winnerslist-box .winners-names .winner-box h1{
        font-size: 16px;
        margin-top: 0px;
    }
    .game-end-box .winnerslist-box .winners-names .winner-box h3{
        font-size: 13px;
    }
    


    
    
}